html {
	background: burlywood;
	color: #705922;
	font-size:18px ;
	line-height: 1.5;
	font-family: lora, serif;
	text-align: center;}

@media (max-width:550px){
	.container {
		background-color: powderblue;
	}
}

a{
	color: rosybrown;
	text-decoration: none;
	transition: color 0.3s ease;
}
a:hover{
	color: powderblue;
	text-decoration: none;
}

h1{
	font-family: roboto, sans-serif;
	text-align: center;
	color: rgba(100, 80, 10, 1.0);
	box-shadow: 5px 5px 3px Black;
	}
#soleil{
	box-shadow: 0px	0px	30px;

}



h2,h3,h4,h5 {font-size: 32px;
color: rgba(120, 100, 10, 1.0) ;}
}


h5,h6{font-size: 30px;
	color: rgba(120, 83, 10, 0.4);
}

#logo {
	width: 300px;
	border-radius: 50%; 
	box-shadow: 5px 5px 3px Black;
}

.img-cercle{
	width: 250px;
	border-radius: 50%;
	box-shadow: 5px 5px 3px Black;
}


.element-design{
	background: #f6f0e9;
	padding: 40px;
	box-shadow: 0px	10px	30px	rgba(0, 0, 0, 1.0);
	border-radius: 4px;
	margin: 20px;
	line-height: 2;
}

.écriture{

	display: inline;
		padding-right: 90px;
		padding-left: 90px;
}

.parenthèses{
	line-height: 0.5;
}
.follow-me{
	font-size: 100px;
	text-align: center;
	padding-left: 90px;
	padding-right: 90px;}
